/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    position: relative;
}

header h1 {
    margin: 0 auto;
    font-size: 24px;
}

.home-button {
    cursor: pointer; /* 滑鼠移過顯示為手型 */
    color: white;
    text-decoration: none; /* 移除連結下劃線 */
    font-size: 24px;
}

.home-button:hover {
    text-decoration: underline; /* 滑鼠懸停時添加下劃線 */
}

/* Hamburger Button */
.menu-button {
    background-color: #388E3C; /* 深綠色背景 */
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    padding: 10px; /* 增加按鈕的觸控範圍 */
    border-radius: 5px; /* 圓角樣式 */
}

.menu-button:hover {
    background-color: #2E7D32; /* 滑鼠懸停時更深的綠色 */
}

/* Sidebar */
.sidebar {
    background-color: #82b985; /* 比上方綠色淡一點 */
    position: fixed;
    top: 50px; /* 保持在標頭以下 */
    left: 0;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar.active {
    transform: translateX(0); /* 打開狀態 */
}

.cluster-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cluster-list li {
    padding: 10px;
    border-bottom: 1px solid #4CAF50; /* 分隔線與主題顏色相似 */
}

.cluster-list li a {
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold; /* 加粗文字 */
}

.cluster-list li a:hover {
    background-color: #4CAF50; /* 滑鼠懸停時更深的綠色 */
}

/* Main Content */
#content {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.sidebar.active ~ #content {
    margin-left: 250px;
}

/* Document Button */
.doc-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.doc-button:hover {
    background-color: #45a049;
}

/* Back Button */
.back-button {
    background: #dddddd9c;
    color: black;
    border: 1px solid #dddddd80;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.back-button:hover {
    background-color: #f0f0f06c;
}

/* Divider Line */
hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

/* 高亮的樣式 */
.highlight {
    background-color: #ffeb3b; /* 使用黃色背景 */
    font-weight: bold;
    color: #000; /* 黑色文字 */
    padding: 2px 4px;
    border-radius: 3px;
}
